{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Ajout d'une figure{% endblock %}

{% form_theme  form with [
    'trick/_collectionImage.html.twig',
    'trick/_collectionVideo.html.twig'
] %}

{% block body %}

<div class="container">
                {{ form_start(form) }}
    <div class="wrapper">
        <div class="page-header page-header-small">
            {% if image|length > 0 %}
                <div class="page-header-image-detail" data-parallax="true" style="background-image: url({{asset('/uploads/' ~ image.url)}})">
                </div>
            {% else %}
                <div class="page-header-image-detail" data-parallax="true" style="background-image: url({{asset('/assets/freestyle-snowboards-back-grab-1-5f9be0af06385.jpeg')}})">
                </div>
            {% endif %}
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        {# <h2 class="title">{{ trick.title }}</h2> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                    {{ form_widget(form.images, {'attr': {'class': 'row'}}) }}
                    {{ form_widget(form.videos, {'attr': {'class': 'row'}}) }}
                    <div class="col-md-8 ml-auto mr-auto">
                        <h3 class="title">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-group'}}) }}
                            {{ form_errors(form.title) }}
                        </h3>
                        <p>
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':"Ecrivez une jolie description de la figure"}}) }}
                        {{ form_errors(form.description) }}
                        </p>
                        <div >
                            <div class="dropdown bootstrap-select show-tick">
                                <div class=" btn btn-primary btn-round btn-block"> 
                                    <div class="filter-option-inner">
                                        {{ form_label(form.groupTrick) }}
                                        {{ form_widget(form.groupTrick, {'attr': {'class': 'filter-option-inner-inner'}}) }}
                                        {{ form_errors(form.groupTrick) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form)}}
                    <button class="btn btn-primary btn-raised btn-round" type="submit">Enregister la figure</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
