{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      {# <div class="rellax-header rellax-header-sky" data-rellax-speed="-4">
        <div class="page-header-image" style="background-image: url('./assets/HomePageHeader_1600x1200_Snowboard_Eric_Beauchemin.jpg')">
        </div>
      </div> #}
      <div class="rellax-header rellax-header-buildings" data-rellax-speed="0">
        <div class="page-header-image page-header-city" style="background-image: url('./assets/HomePageHeader_1600x1200_Snowboard_Eric_Beauchemin.jpg')">
        </div>
      </div>
      <div class="rellax-text-container">
        <h1 class="h1-seo rellax-text" data-rellax-speed="-1">Components</h1>
      </div>
      <h3 class="h3-description rellax-text" data-rellax-speed="-1">Bienvenue sur SnowTrick.</h3>
    </div>

<h1>Bienvenue sur SnowTrick</h1>
<ul>
{% for trick in tricks %}
<div class="cards">
          <div class="container">
            <div class="title">
              <h3>
                <small>Full Background Cards</small>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-6">
                {% if trick.images|length > 0 %}
                  {% set image = trick.images|first %}
                  <div class="card card-background" style="background-image: url({{asset('/uploads/' ~ image.url)}})">
                  {# <img class="d-block w-100" src="{{asset('/uploads/' ~ image.url)}}" alt="First slide"> #}
                {% else %}
                  <div class="card card-background" style="background-image: url('assets/img/bg3.jpg')">
                {% endif %}
                {# <div class="card card-background" style="background-image: url('assets/img/bg3.jpg')"> #}
                  <div class="card-body">
                    <div class="card-title text-left">
                      <h3>
                        <a class="alert-light" href="{{ path('trick_show', {slug: trick.slug}) }}">{{ trick.title}}</a>
                        {% if is_granted('ROLE_USER') %}
                          <a class="light" href="{{ path('trick_edit', {slug: trick.slug}) }}"><img src="{{asset('/assets/pencil-icon_34383.png')}}" alt="" style="width=40px"></a>
                          <a class="light" href="{{ path('trick_delete', {id: trick.id, _csrf_token: csrf_token('delete')}) }}"><img src="{{asset('/assets/trash-can_38501.png')}}" alt="" style="width=40px"></a>
                        {% endif %}
                      </h3>
                    </div>
                    <div class="card-footer text-left">
                      <div class="stats-link">
                        <a href="#pablo" class="footer-link">{{ trick.groupTrick.name }}</a>
                      </div>
                      <div class="stats stats-right">
                        <span>
                          <i class="now-ui-icons media-2_sound-wave"></i>SPACE.com
                        </span>
                        <span>
                          <i class="now-ui-icons tech_watch-time"></i> 20min ago
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{dump(trick)}}
{% endfor %}
</ul>
{% endblock %}
