{% extends 'base.html.twig' %}

{% form_theme  form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% form_theme form _self %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Formulaire d'ajoute de figure</h1>

    {{ form_start(form) }}
    {{ form_widget(form)}}
    <button type="submit"> Creer la figure</button>
    {{ form_end(form)}}
</div>
{% endblock %}


{% block _trick_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_images_widget %}
    <p>Ajouter une image</p>

    {{ form_widget(form) }}

    <button type="button" id="add-image">Ajouter une image</button>

{% endblock %}

{% block _trick_images_entry_widget %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_widget(form.url) }}
            </div>
            <div class="col">
                {{ form_widget(form.title) }}
            </div>
            <div class="col">
                {{ form_widget(form.caption) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    $('#add-image').click(function(){
        const index = $('#trick_images div.form-group').length

        const tmpl = $('#trick_images').data('prototype').replace(/__name__/g, index);

        $('#trick_images').append(tmpl);
    });
    </script>
{% endblock %}
