{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="page-header header-filter" filter-color="blue">
        <div class="page-header-image" style="background-image:url({{asset('/assets/snowboarding-1734841_1920.jpg')}})">
        </div>
        <div class="content">
            <div class="container">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <span class="form-control">Nom utilisateur : {{ user.username }}</span>
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    </div>
                                    <span class="form-control">Email : {{ user.email }}</span>
                                </div>
                                {{ form_start(form) }}
                                {# <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    {{ form_errors(form.hash) }}
                                    {{ form_widget(form.hash, {'attr': {'class': 'form-control', 'placeholder':"Mot de passe..."}}) }}
                                </div> #}
                                {# <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    {{ form_errors(form.passwordConfirm) }}
                                    {{ form_widget(form.passwordConfirm, {'attr': {'class': 'form-control', 'placeholder':"Confirmation du Mot de passe..."}}) }}
                                </div> #}
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail img-circle img-raised">
                                        {% if user.avatarPath %}
                                        <img src="{{asset('/uploads/' ~ user.avatarPath )}}" alt="...">
                                        {% else %}
                                        <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">
                                        {% endif %}
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised">
                                    </div>
                                    <div>
                                        <span class="btn btn-raised btn-round btn-default btn-file">
                                            <span class="fileinput-new">Choisir une image</span>
                                            <span class="fileinput-exists">Changer d'image</span>
                                            {{ form_widget(form.avatar) }}
                                        </span>
                                        <br />
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Retirer</a>
                                    </div>
                                </div>
                                <div class="input-group no-border input-lg">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-lgbtn btn-primary btn-round btn-lg btn-block" type="submit">Mettre à jour l'avatar</button>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-lgbtn btn-primary btn-round btn-lg btn-block" href="{{path('user_password_update', {userId: app.user.id})}}">
                                    Mettre à jour le mot de passe
                                </a>
                            </div>
                            <div class="pull-left"></div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
