{% extends 'base.html.twig' %}

{% block title %}Mot de passe Oublié{% endblock %}

{% block body %}

{# <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div> #}

    <div class="page-header header-filter" filter-color="blue">
        <div class="page-header-image" style="background-image:url({{asset('/assets/snowboarding-1734841_1920.jpg')}})">
        </div>
        <div class="content">
            <div class="container">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        {{ form_start(form) }}
                            <div class="card-header text-center">
                                <div class="logo-container">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <span class="form-control">Entrez-votre addresse mail </br>Afain de recevoir un lien de changement de mot de passe</span>
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    </div>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':"Email..."}}) }}
                                </div>
                                <div class="input-group no-border input-lg">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-lgbtn btn-primary btn-round btn-lg btn-block" type="submit">Envoyer</button>
                            </div>
                            <div class="pull-left"></div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}