{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{# <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div> #}

<div class="page-header header-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-login card-plain">
            {# <form class="form" method="" action=""> #}
            {{ form_start(form) }}
              <div class="card-header text-center">
                <div class="logo-container">
                  {# <img src="../assets/img/now-logo.png" alt=""> #}
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                  </div>
                    {# {{ form_label(form.username) }} #}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':"Nom Utilisateur..."}}) }}
                  {# <input type="text" class="form-control" placeholder="First Name..."> #}
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                  </div>
                  {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':"Email..."}}) }}
                  {# <input type="text" class="form-control" placeholder="Last Name..."> #}
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                  </div>
                  {{ form_errors(form.hash) }}
                    {{ form_widget(form.hash, {'attr': {'class': 'form-control', 'placeholder':"Mot de passe..."}}) }}
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                  </div>
                  {{ form_errors(form.passwordConfirm) }}
                    {{ form_widget(form.passwordConfirm, {'attr': {'class': 'form-control', 'placeholder':"Confirmation du Mot de passe..."}}) }}
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                  </div>
                  {{ form_errors(form.avatar) }}
                  {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <div class="card-footer text-center">
                    <button class="btn btn-lgbtn btn-primary btn-round btn-lg btn-block" type="submit">Envoyer</button>
                </div>
              <div class="pull-left">
              </div>
            {{ form_end(form) }}
            {# </form> #}
          </div>
        </div>
      </div>
    </div>



{% endblock %}